# Скопируйте в .env в корне проекта

APP_URL=http://padel.ballaball.xyz
APP_ENV=production
APP_DEBUG=false

# Hostland MySQL 8.0 (хост и порт раздельно)
DB_HOST=mysql80.hostland.ru
DB_PORT=3308
DB_NAME=host1708875_padelbd
DB_USER=host1708875_upadel
DB_PASSWORD=

# Случайная строка для подписи токенов сессии
APP_SECRET=
